* {
  font-family: "Pretendard";
}
section {
  background-attachment: fixed;
  height: 100vh;
}

.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 1px 1px 2px gray;
}
.menu_link {
  height: 100%;
  max-width: 73%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.menu a {
  /* color: white; */
  color: black;
  text-decoration: none;
  font-size: 1.4vw;
  padding: 0 1em;
}
.menu .menu_link img {
  width: 6.5vw;
  margin-right: auto;
  color: white;
  font-weight: bold;
}

/* -------------------------------------------------------- */

.section-0 {
  height: 100vh;
  background: linear-gradient(180deg, powderblue, white);
}
.section-0 .introduction {
  position: absolute;
  z-index: 101;
  top: 24%;
  left: 16%;
  line-height: 2.5em;
  color: white;
  letter-spacing: -0.1em;
  line-height: 2em;
}
.section-0 .introduction h1 {
  font-size: 2.5vw;
  letter-spacing: -0.13em;
  text-shadow: 1px 5px 10px gray;
}
.section-0 .introduction .title {
  display: flex;
}
.section-0 .introduction p {
  font-size: 1.6vw;
  color: black;
}
.section-0 .circle {
  position: relative;
  top: 60%;
  left: 80%;
  bottom: 0;
  right: 0;
  transform: translate(-50%, -50%);
  z-index: 101;
  box-shadow: 1px 1px 10px gray;
  width: 26vw;
  height: 50vh;
  border-radius: 50%;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.8s ease-in-out;
  border-radius: 50%;
}
.slide h1 {
  color: white;
  font-size: 100px;
}

.slide:nth-child(even) {
  background-color: powderblue;
}

.slide:nth-child(odd) {
  background-color: aqua;
}
.showing {
  opacity: 1;
  z-index: 1;
  transform: none;
}

/* .circle::before {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 1px 1px 10px gray;
  bottom: -90%;
  left: 48%;
  transform: translate("-50%", "-50%");
  width: 28px;
  height: 60vh;
  background-color: #f8eae1;
} */

.circle .circle_img {
  background-image: url(/MOONs/images/2.jpg);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-position-x: -100px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid #f8eae1;
}

.section-0 .circle_2 {
  position: absolute;
  z-index: 99;
  box-shadow: 1px 1px 10px gray;
  top: 15%;
  right: 27%;
  width: 26vw;
  height: 50vh;
  border-radius: 50%;
}
.circle_2 .circle_2_img {
  background-image: url(/MOONs/images/1.jpg);
  border-radius: 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  /* background-size: 110%; */
  background-repeat: no-repeat;
  border: 10px solid #f8eae1;
}

/* .circle_2::before {
  content: "";
  position: absolute;
  z-index: -1;
  box-shadow: 1px -10px 10px gray;
  bottom: -133%;
  left: 48%;
  transform: translate("-50%", "-50%");
  width: 28px;
  height: 70vh;
  background-color: #f8eae1;
} */
.section-0 img {
  position: absolute;
  z-index: 100;
  top: 17%;
  left: -2%;
  width: 6vw;
  transform: rotate(11deg);
}
/* ------------------------------------------------------------------ */

.section-1-border-container {
  /* position: relative; */
  /* z-index: 99; */
}

.section-1 .section-1_container {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  /* height: 100%; */
  background-color: white;
}

.section-1 .section-1_container .message {
  display: none;
  position: fixed;
  top: 40%;
  left: 24%;
  bottom: 15%;
  opacity: 0;
  font-size: 1.8vw;
  width: 60%;
  font-weight: bold;
}
.section-1 .section-1_container .message button {
  background-color: #eeeeee;
  width: 10.5em;
  height: 30px;
  margin-top: 1.5em;
  border-radius: 50px;
  font-weight: bold;
}
.message .hash_container {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
}
.message .hash_container .hash {
  text-align: center;
  width: 64px;
  height: 28px;
  border-radius: 30px;
  background-color: white;
  margin-left: 15px;
  font-size: 1rem;
}
.section-1 .section-1_container .message .app {
  position: absolute;
  top: -45%;
  right: 15%;
  width: 9.7em;
  height: 20em;
  border-radius: 20px;
  border: 3px solid black;
  box-shadow: 3px -2px 5px gray;
}

#show-scene-0 #scroll-section-0 .message,
#show-scene-1 #scroll-section-1 .message,
#show-scene-2 #scroll-section-2 .message {
  display: block;
}

/* ------------------------------------------------------------------ */

.section-2 {
  background: linear-gradient(360deg, powderblue, white);
}
#box-container {
  padding-top: 40px;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
}
.box {
  width: 20em;
  background-color: powderblue;
  padding: 30px;
  border-radius: 40px;
}

.footer {
  height: 20vh;
  display: flex;
  margin-left: 94px;
  padding-top: 50px;
}
.down {
  width: 20%;
  height: 50%;
  padding: 30px;
}
.down p {
  font-size: 0.4vw;
  text-decoration: underline;
}
